

body{background: url(./images/bg-desktop.svg), hsl(257, 40%, 49%);
   
    color: white;
    font-family: "open sans";  
    
}
h1{
    font-family: "Poppins";
    width: 40vw;

}
p{
    width: 30vp;
}
#register{
    width: 200px;
    height: 50px;
    border-radius: 100px;
    color:hsl(257, 40%, 49%) ;
}
#register:hover{
    color: white;
    background: hsl(300, 69%, 71%) ;
}


.attribution { font-size: 11px; text-align: center; 
    background: hsl(300, 69%, 71%);
    border-radius: 20px;
}
i{width: 20px   ;}

i:hover{
    color: hsl(300, 69%, 71%);
}

.attribution a { color: hsl(228, 45%, 44%); }

#container{
    display: flex;
    flex-direction: column;
    margin: 3% 4%;
}
#content{
    display:flex ;  
    margin-top: 50px;
    text-align: left;
    height: auto;
    
    
    
}
#mockup{
        
       width: 100%; 
       
    }
#mockup img{
    width: 100%;
    height: auto;
}
    #info{
        margin-left: 5%;
        
        
        width: auto;
}
#redes{
    
    height: 40px;
    text-align: end;
    
}
#redes i{
    margin: 10px;
}
a{
    color: white;
}

@media screen and (max-width:480px)
{
    #content{
        display: block;
        text-align: center;
    }
    h1,p{
        width: 100%;
    }
    .logo img{width: 40%;height: auto;}
    body{background: url(./images/bg-mobile.svg), hsl(257, 40%, 49%);
        background-size: contain;
        background-repeat: no-repeat;
        
        

    }
    #redes{
        margin-top: 20px;
        text-align: center;
    }
}
